@import "./normalize";
@import url(../fonts/stylesheet.css);

* {
  box-sizing: border-box;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

body {
  font-family: 'Montserrat', sans-serif;
}