@use "./variables" as v;

@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

.list {
  display: flex;

  &--overflow {
    overflow-x: auto;
  }
 
  &::-webkit-scrollbar {
    display: none;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  &__title {
    @include font(30px, v.$titleFontWeight, 37px);
    color: #B3B3BA;
    margin-top: v.$defaultMargin;
    margin-bottom: v.$defaultMargin;

    &--active {
      background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}