@use "./variables" as v;

@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin button($border, $padding, $bdr, $bg) {
  border: $border;
  padding: $padding;
  border-radius: $bdr;
  background-color: $bg;
}

.slider {
  position: relative;
  padding-top: 50px;

  &::before {
    content: '';
    height: 10px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 40px;
    right: 40px;
    border-radius: 0 0 12px 12px;
    background-color: #E7E7F2;
  }

  & .slider-content {
    border-radius: 12px;
    background-color: #F5F5FA;
  }
}

.team-description {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 30px;

  & .slider-description {
    margin-top: 5px;
    margin-bottom: v.$defaultMargin;
    @include font(27px, v.$titleFontWeight, 37px);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.team-link {
  @include font(14px, v.$titleFontWeight, 17px);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: v.$defaultTitleColor;
  text-decoration: none;

  &::after {
    content: url(../images/arrow-right.png);
    padding-left: 4px;
  }
}

.photo {
  min-height: 500px;
  background-image: url(../images/photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  @include font(16px, 700, 20px);
  color: #B3B3BA;
  margin: v.$defaultMargin;
}

.rank {
  @include font(14px, 400, 22px);
  color: #B3B3BA;
  margin-top: 6px;
  margin-bottom: v.$defaultMargin;
}

.slider-dots {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  & .active {
    background-color: rgba(36, 163, 255, 1);
  }
}

.dots {
  @include button(none, 8px, 50%, rgba(36, 163, 255, 0.2));
  margin-right: 15px;

  &:last-of-type {
    margin-right: v.$defaultMargin;
  }
}
